div{
    height: 100px;
    width: 100px;
    background-color: black;
    animation-name: anime;
    animation-duration: 5s;
    animation-iteration-count: 2;
    position: relative;
}
h1{
    background-color: beige;
    animation-name: mime;
    animation-duration: 5s;
    position: relative;
}
@keyframes mime{
    from{
        background-color: beige;
        left: 0;
        
    }
    to{
        background-color: cornflowerblue;
        left: 100px;
       
    }
}
@keyframes anime{
    0%{background-color: black; left: 0;left: 100px;}
    25%{background-color: rgb(230, 19, 19); top: 0;top: 100px;}
    50%{background-color: yellow; right:0;right: 20px;}
    100%{background-color: green; bottom: 0;bottom: 100px;}
}