div{
    height: 150px;
    width: 150px;
    background-color: aqua;
    transition-property: all ;
    transition-delay: 2s;
    transition-duration: 2s;
   
}
div:hover
{
    background-image: url(amazon.jpeg);
    background-size: contain;
    width: 180px;
    height: 160px;
    transform: rotate3d(1,1,1,360deg) scale(1) translate3d(300px,200px,300px);
}
